html{
    min-height: 100vh;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #FFF;
}
.main-title{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
}

.informations{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.game-container{
    display: grid;
    grid-gap: 10px;
    justify-content: center;
}

.recommencer{
    justify-content: center;
    margin-top: 3%;
    background-color: #67cef2;
}

.recommencer{
    margin-top: 1.5%;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.recommencer:hover{
    background-color: #56adcc;
    cursor: pointer;
    height: 55px;
    width: 155px;
}



.cartes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
    font-family: 'Roboto', sans-serif;
}

.reponse{
    font-size: 0.8rem;
    transition: all 0.5s ease-in-out;
    background-color: red;
    cursor: pointer;
    height: 50px;
    width: 75px;
    border-radius: 15px;
    text-align: center;
}

.reponse:hover{
    height: 45px;
    width: 70px;
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.reponse:hover{
    background-color: rgba(212, 11, 38, 0.897);
}

.carte {
    font-size: 2rem;
    perspective: 1000px;
    position: relative;
    height: 210px;
    width: 210px;
  }

.carte:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
}
  
  .carte .recto,
  .carte .verso {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    border-radius: 15px;
  }
  


  .carte .recto {
    background-color: #67cef2;
  }

  .carte .recto:hover{
    background-color: #56adcc;
  }
  
  .carte1 .verso {
    background-color: #bde0ff;
    transform: rotateY(180deg);
  }

  .carte2 .verso {
    background-color: #77a6ff;
    transform: rotateY(180deg);
  }
  .carte3 .verso {
    background-color: #df7f81;
    transform: rotateY(180deg);
  }
  .carte4 .verso {
    background-color: #a4dbb4;
    transform: rotateY(180deg);
  }
  .carte5 .verso {
    background-color: #FDFD96;
    transform: rotateY(180deg);
  }
  .carte6 .verso {
    background-color: #e2dfbd;
    transform: rotateY(180deg);
  }

  .carte.visible .verso {
    transform: rotateY(0deg);
  }
  
  .carte.visible .recto {
    transform: rotateY(180deg);
  }

.slides{
  height: 100%;
  width: 100%;
  margin-left: 0%;
  margin-top: 0%;
  border-radius: 15px;
}


img{
  margin-left: 15%;
  margin-top: 15%;
  height: 70%;
  width: 70%;
  border-radius: 15px;
}

.annecdotes{
  text-align: center;
  margin-top: 25%;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;

}

@media screen and (max-width: 850px) {
  .cartes{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

.cartes {
  margin-top: 3%;
}
.game-container {
  margin-top: 2%;
}

@media screen and (max-width: 600px) {
  .cartes{
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

.footer{
  margin-top: 25%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;
}
